:root {
    --white: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: var(--white);
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1,
h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #56d600;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: var(--white);
    text-align: center;
    padding: 10px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}