:root {
    --background-color: #272727;
    --background-color2: #dddddd;
    --background-color-white: #e0f7fa;
    --background-color-green: #00796b;
    --background-color-green-hover: #004d40;
    --background-color-footer: #333;
    --border-color: #747474;

    --info-counter: #6fe600;
    --error-color: rgb(209, 0, 0);

    --border-color-green: #00796b;
    --border-b-footer: #444;

    --white: white;
    --white2: #fff;
    --black: #000;
    --red: red;
    --green: #00796b;
    --lightGray: #ccc;
    --gray: #555;

    /* Animacion Subrayado del menu */
    --highlight-color: var(--white);
    --underline-thickness: 6px;
}

/* Estilos generales del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, var(--background-color-white), var(--background-color-green));
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}


/* Estilos para el encabezado */
header {
    background-color: var(--background-color-green);
    padding: 1em 0;
}

/* Estilos para el menú de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.logo a {
    color: var(--white);
    font-size: 32px;
    position: relative;
}

/* Animación del logo */
.logo a:hover .fas {
    animation: volar 3s forwards;
}

/* keyframes para la animación */
@keyframes volar {
    0% {
        transform: translateX(0);
        color: var(--white2);
    }

    100% {
        transform: translateX(2000px);
        color: var(--background-color-green);
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    position: relative;
}

/* Estilos para los enlaces con clase "animacion-sub" */
.animacion-sub {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.animacion-sub:hover {
    text-shadow: 0 0 3px var(--white);
}

.animacion-sub::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--background-color-white);
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.animacion-sub:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Boton de menu */
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    max-height: 100px;
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
}

.menu li {
    margin: 0 1em;
}

.menu li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    position: relative;
}

.menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: var(--underline-thickness);
    bottom: -3px;
    left: 0;
    background-color: var(--highlight-color);
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu li a:hover::after {
    width: 100%;
}

.btn-menu {
    display: none;
}

/* Estilos generales para las secciones */
section {
    padding: 2em;
    text-align: center;
}

/* Estilos específicos para la sección de destinos */
#destinos {
    padding: 2em;
}

#destinos h2 {
    margin-bottom: 1em;
}

/* Cuadrícula de destinos utilizando Flexbox */
.destinos-grid {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}

/* Estilos para cada destino individual */
.destino {
    flex: 1 1 22%;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.destino:hover {
    transform: translateY(-5px);
    transform: scale(1.05);
}

/* Estilos para las imágenes de los destinos */
.destino img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Estilos para los títulos de los destinos */
.destino h3 {
    margin: 0.5em 0;
}

/* Estilos para los párrafos de los destinos */
.destino p {
    margin: 0.5em 1em;
    color: var(--gray);
}

/* Estilos para el formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    background-color: var(--white2);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

form label {
    align-self: flex-start;
    margin-bottom: 0.5em;
    color: #333;
}

form input,
form select,
form textarea,
form button {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid var(--lightGray);
    border-radius: 4px;
    font-family: 'Roboto';
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: var(--border-color-green);
    outline: none;
}

.btn {
    display: flex;
    background-color: var(--background-color-green);
    justify-content: center;
    color: var(--white2);
}

.btn:hover {
    background-color: var(--background-color-green-hover);
    background-image: linear-gradient(to bottom, var(--background-color-green-hover), var(--background-color-green));
    font-weight: 700;
}

.title-contacto {
    padding: 10px;
    text-align: center;
}


/* Errors Span */
form .error-control {
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 11px;
}

form .error-span {
    color: var(--error-color);
    text-shadow: 0px 0px 1px var(--gray);
}

form .valid-span {
    color: var(--green);
    font-size: 16px;
    transition: all 0.5s linear;
    text-shadow: 0px 0px 1px var(--gray);
}

form #counter {
    font-size: 13px;
    color: var(--info-counter);
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    text-shadow: 0px 0px 1px var(--gray);
}

label[for=newsletter] {
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}

/* Modal - Popup*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--white2);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-b-footer);
    width: 500px;
    border-radius: 8px;
    border: 3px solid var(--border-color-green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.close {
    color: var(--background-color-green);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--border-color-green);
    text-decoration: none;
    cursor: pointer;
}

.horizontal-line {
    border: none;
    border-top: 1px solid var(--background-color-green);
    margin: 1rem 0;
}

/* Estilos para el pie de página */
footer {
    background-color: var(--background-color-footer);

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    text-align: center;
    padding: 1em 0;
}

.footer-container {
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
}

.footer-content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

.social-media {
    display: flex;
    gap: 1em;
}



.social-media a {
    color: var(--white);
    font-size: 1.5em;
}

.social-media a:hover {
    text-shadow: 0 0 15px var(--background-color-green);
}

.about-us {
    text-align: right;

}

.about-us h3 {
    margin-bottom: 0.5em;
}

.about-us ul {
    list-style: none;
    padding: 0;
}

.about-us li {
    margin-bottom: 0.5em;
}

.footer-bottom {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--border-b-footer);
}

/* Estilos para el carrousel */
.carousel-container {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    max-width: 560px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
    display: none;
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel-item.active {
    display: block;
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 121, 107, 0.8);
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

/* Media queries para diferentes resoluciones */
@media screen and (max-width: 1024px) {
    .destino {
        flex: 1 1 calc(50% - 1em);
    }
}

@media screen and (max-width: 768px) {

    nav ul li {
        margin: 0.5em 0;
    }

    .destino {
        flex: 1 1 calc(100% - 1em);
    }

    form {
        width: 90%;
    }

    .menu {
        flex-direction: row;
        max-height: 0;
        opacity: 0;
        font-weight: 800;
    }

    .menu.show {
        max-height: 300px;
        opacity: 1;
    }

    .btn-menu {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        font-size: 1.5em;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 95%;
    }

    .menu {
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        font-weight: 500;
    }

    .menu.show {
        max-height: 300px;
        opacity: 1;
    }

    .btn-menu {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        font-size: 1.5em;
        cursor: pointer;
    }
}