:root {
    --background-color: rgba(0, 0, 0, 0);
    --background-mark: #ff0;
    --bg-color-section-center: #cf0063;
    --bg-image-section-center: linear-gradient(135deg, #dd1173, #350e47);
    --skyblue-color: #3898ec;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #f2f2f2;
    --gray-color-2: #6b6b6b;
    --gray-color-3: #333;
    --detail-color: #fc0a7e;
    --h1-font: 50px;
    --h2-font: 40px;
    --h3-font: 30px;
    --h4-font: 24px;
    --h5-font: 20px;
    --h6-font: 18px;
    --p-font: 16px;
    --white-tittle-aplha: rgba(255, 255, 255, .6)
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    margin: 0
}

footer,
nav {
    display: block
}

a {
    background-color: var(--background-color)
}

a:active,
a:hover {
    outline: 0
}

.p-country {
    font-weight: 700
}

.p-italic {
    font-style: italic
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button,
html input[type=button],
input[type=reset] {
    -webkit-appearance: button;
    appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: none;
    appearance: button;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

[class*=" icon-"],
[class^=icon-] {
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-family: icons !important
}

.icon-slider-right:before {
    content: ""
}

.icon-slider-left:before {
    content: ""
}

.icon-nav-menu:before {
    content: ""
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    color: var(--gray-color-3);
    background-color: var(--white-color);
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block
}

.block {
    display: block
}

.btn {
    color: var(--white);
    line-height: inherit;
    cursor: pointer;
    background-color: var(--skyblue-color-);
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block
}

html[data-dynpage] [data-cloak] {
    color: var(--background-color) !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    font-weight: 700
}

h1 {
    margin-top: 20px;
    font-size: var(--h1-font);
    line-height: 44px
}

h2 {
    margin-top: 20px;
    font-size: var(--h2-font);
    line-height: 36px
}

h3 {
    margin-top: 20px;
    font-size: var(--h3-font);
    line-height: 30px
}

h4 {
    margin-top: 10px;
    font-size: var(--h4-font);
    line-height: 24px
}

h5 {
    margin-top: 10px;
    font-size: var(--h5-font);
    line-height: 20px
}

h6 {
    margin-top: 10px;
    font-size: var(--h6-font);
    line-height: 18px
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

[type=button],
[type=reset],
button {
    cursor: pointer;
    -webkit-appearance: button;
    appearance: button;
    border: 0
}

.form {
    margin: 0 0 15px
}

.form-done {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    display: none
}

.form-fail {
    background-color: #ffdede;
    margin-top: 10px;
    padding: 10px;
    display: none
}

label {
    margin-bottom: 5px;
    font-weight: 700;
    display: block
}

.input {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block
}

.input:-moz-placeholder {
    color: #999
}

.input::-moz-placeholder {
    color: #999;
    opacity: 1
}

.input::-webkit-input-placeholder {
    color: #999
}

.input:focus {
    border-color: #3898ec;
    outline: 0
}

.input[disabled],
.input[readonly] {
    cursor: not-allowed
}

.input[disabled]:not(.input-disabled),
.input[readonly] {
    background-color: var(--gray-color-2)
}

.form-label {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 400;
    display: inline-block
}

.slider {
    text-align: center;
    clear: both;
    -webkit-tap-highlight-color: transparent;
    background: #ddd;
    height: 300px;
    position: relative
}

.slider-mask {
    z-index: 1;
    white-space: nowrap;
    height: 100%;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden
}

.slide {
    vertical-align: top;
    white-space: normal;
    text-align: left;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative
}

.slider-nav {
    z-index: 2;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    height: 40px;
    margin: auto;
    padding-top: 10px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0
}

.slider-nav.round>div {
    border-radius: 100%
}

.slider-nav-invert {
    color: #fff
}

.slider-nav-invert>div {
    background-color: rgba(34, 34, 34, .4)
}

.slider-arrowleft,
.slider-arrowright {
    cursor: pointer;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    margin: auto;
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden
}

.slider-arrowleft [class*=" icon-"],
.slider-arrowleft [class^=icon-],
.slider-arrowright [class*=" icon-"],
.slider-arrowright [class^=icon-] {
    position: absolute
}

.slider-arrowleft:focus,
.slider-arrowright:focus {
    outline: 0
}

.slider-arrowleft {
    z-index: 3;
    right: auto
}

.slider-arrowright {
    z-index: 4;
    left: auto
}

.icon-slider-left,
.icon-slider-right {
    width: 1em;
    height: 1em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.slider-aria-label {
    clip: rect(0 0 0 0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden
}

@media screen and (max-width:767px) {
    .nav-brand {
        padding-left: 10px
    }
}

.nav {
    z-index: 1000;
    background: #ddd;
    position: relative
}

.nav:after,
.nav:before {
    content: " ";
    grid-area: 1/1/2/2;
    display: table
}

.nav:after {
    clear: both
}

.nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative
}

.nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative
}

.nav-menu {
    float: right;
    position: relative
}

[data-nav-menu-open] {
    text-align: center;
    background: #c8c8c8;
    min-width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: visible;
    display: block !important
}

.nav[data-animation=over-left] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    right: auto
}

.nav[data-animation=over-right] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    left: auto
}

.nav-btn {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative
}

.nav-btn:focus {
    outline: 0
}

.nav[data-collapse=all] .nav-menu {
    display: none
}

.nav[data-collapse=all] .nav-btn {
    display: block
}

@media screen and (max-width:991px) {
    .nav[data-collapse=medium] .nav-menu {
        display: none
    }

    .nav[data-collapse=medium] .nav-btn {
        display: block
    }
}

@media screen and (max-width:767px) {
    .nav[data-collapse=small] .nav-menu {
        display: none
    }

    .nav[data-collapse=small] .nav-btn {
        display: block
    }

    .nav-brand {
        padding-left: 10px
    }
}

@media screen and (max-width:479px) {
    .nav[data-collapse=tiny] .nav-menu {
        display: none
    }

    .nav[data-collapse=tiny] .nav-btn {
        display: block
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

:root {
    --white: white;
    --black: black;
    --blue-violet: #6e2ed8;
    --dim-grey: #6b6b6b;
    --663399: #602bb6;
    --deep-pink: #fc0a7e;
    --medium-violet-red: #b32e6e;
    --medium-slate-blue: #955df1
}

h1 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10vh;
    font-weight: 700;
    line-height: 10vh
}

h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px
}

h3 {
    color: #6b6b6b;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px
}

h4 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px
}

p {
    color: #6b6b6b;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px
}

a {
    color: var(--black-color);
    text-decoration: underline
}

.section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex
}

.section.center {
    background-color: #cf0063;
    background-image: linear-gradient(135deg, #dd1173, #350e47);
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 0;
    display: flex;
    position: relative
}

.section.wide {
    background-color: #1b1b1b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex
}

.section.wide.img {
    padding-bottom: 0
}

.section.wide.purple {
    background-image: linear-gradient(135deg, #fc0a7e, #602bb6), url("../img/icon-footer.svg");
    background-position: 50%, 0 0;
    background-size: cover, auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.g14 {
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0);
    border: 1px var(--black-color);
    width: 100%;
    height: auto;
    padding: 0 10vw;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
    align-items: center;
    height: auto;
    display: flex;
}

.nav-inner {
    border-bottom: 1px rgba(255, 255, 255, .1);
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}

.body {
    background-color: rgba(0, 0, 0, 0);
    font-family: Gothic A1, sans-serif
}

.heading {
    color: var(--white-color);
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 10vh;
    font-weight: 500;
    line-height: 9vh;
}

.div-block-2 {
    z-index: 80;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    display: flex;
    position: relative;
}

.image {
    height: 40px;
    margin-bottom: 20px
}

.feature-content {
    border: 1px var(--black-color);
    flex: none;
    width: 50vw;
    max-width: 450px;
    padding-left: 4vw;
    padding-right: 4vw
}

.feature-content.icons {
    text-align: center;
    flex-direction: column;
    flex: none;
    align-items: center;
    width: 33.33%;
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
    display: flex
}

.feature-content.icons.numbers {
    width: 25%
}

.heading-2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 400
}

.btn {
    color: #fff;
    text-align: center;
    background-color: var(--detail-color);
    border-radius: 3px;
    margin-right: 0;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
    display: inline-block
}

.btn:hover {
    color: var(--gray-color-2);
    background-color: #fff
}

.btn.contact {
    background-color: var(--background-color);
    margin-left: 10px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2)
}

.btn.contact:hover {
    color: var(--white-color);
    box-shadow: inset 0 0 0 2px var(--white-color)
}

.btn.top {
    margin-left: 30px;
    padding: 20px 35px;
    font-size: 16px
}

.btn.form-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1)
}

.btn.form-btn:hover {
    color: var(--black-color);
    background-color: var(--black-color)
}

.h2 {
    color: var(--black-color);
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 300;
    line-height: 56px
}

.p {
    color: var(--gray-color-2);
    font-size: 16px;
    line-height: 30px
}

.p.list {
    margin-bottom: 0
}

.div-block-3 {
    background-image: url(../img/background-image.svg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 8600px
}

.div-block-3._02 {
    background-image: url(../img/background-image.svg);
    background-size: 100vw
}

.div-block-3._03 {
    background-image: url(../img/background-image.svg);
    background-size: 100vw;
    height: 6000px
}

.div-block-4 {
    flex-direction: column;
    align-items: center;
    width: 65%;
    max-width: 440px;
    display: flex
}

.div-block-4.left {
    align-items: flex-start;
    margin-bottom: 30px
}

.img-device {
    height: auto;
    max-height: 450px
}

.h3 {
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500
}

.div-block-5 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px
}

.wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    display: flex
}

.wrap {
    text-align: center;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 40px
}

.title {
    color: #a8a8a8;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px #2e2e2e;
    padding-bottom: 5px;
    font-size: 12px;
    display: inline-block
}

.title.white {
    color: rgba(255, 255, 255, .6);
    border-bottom-color: rgba(255, 255, 255, .4)
}

.image-2 {
    flex: none;
    border-radius: 25px;
}

.div-block-6 {
    align-items: center;
    display: flex
}

.div-block-7 {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 100px;
    display: flex
}

.div-block-8 {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
    height: 150px;
    display: flex
}

.btn-wrap {
    justify-content: center;
    width: auto;
    margin-top: 5vh;
    padding-left: 0;
    padding-right: 0;
    display: flex
}

.image-3 {
    padding: 10px 30px 30px 0
}

.text-block {
    color: #fff
}

.h4 {
    color: #fff;
    margin-bottom: 10px
}

.nav-link {
    color: #fff;
    flex: 0 auto;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: 400
}

.nav-link:hover {
    color: #fff;
    text-shadow: 0 0 10px var(--bg-color-section-center);
    box-shadow: inset 0 -3px #fc0a7e
}

.nav-menu {
    height: auto
}

.div-block-11 {
    background-color: #acb1b4;
    border-radius: 20px;
    width: 100%;
    height: 300px
}

.ico {
    height: 35px;
    margin-right: 20px
}

.div-block-12 {
    margin-top: 50px
}

._icon {
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 80px;
    margin-right: 20px;
    display: flex
}

.form {
    justify-content: space-between;
    align-items: center;
    display: flex
}

._img {
    flex: 1;
    overflow: hidden
}

.image-4 {
    width: 100%;
    display: block
}

.icon {
    height: 25px
}

.nav-list {
    justify-content: space-between;
    margin-right: 30px;
    display: flex
}

.g14-image {
    height: 85vh;
    position: absolute;
    bottom: 0;
    right: 3vw
}

.black-text {
    color: var(--black-color)
}

.g14-content {
    z-index: 90;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vh;
    position: relative
}

.feature-wrap {
    border: 1px var(--black-color);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex
}

.feature-wrap.reverse {
    flex-direction: roreverse
}

.feature-wrap.logos {
    border-style: none;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh
}

.feature-wrap.icons {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0
}

.feature-image {
    border: 1px --black-color;
    justify-content: center;
    align-items: center;
    width: 50vw;
    display: flex
}

.black {
    color: var(--black-color)
}

.g14-subhead {
    color: #fff;
    max-width: 60%;
    font-size: 30px;
    line-height: 44px
}

.bottom-image-wrap {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden
}

.feature-icon {
    height: 35px;
    margin-bottom: 30px
}

.purple {
    color: #b32e6e
}

.footer {
    background-color: #1b1b1b;
    justify-content: center;
    align-items: center;
    display: flex
}

.footer-link {
    color: var(--gray-color);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none
}

.footer-link:hover {
    color: var(--bg-color-section-center);
}

.footer-list {
    padding-top: 29px;
    padding-bottom: 29px;
}

.text-block-2 {
    color: rgba(255, 255, 255, .3);
    font-size: 12px;
}

.form-2 {
    margin-top: 40px;
    display: flex;
}

.input {
    clear: none;
    color: var(--black-color);
    background-color: var(--white-color);
    border-style: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    flex: 0 auto;
    height: 70px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1);
    box-shadow: inset 0 0 #fc0a7e
}

.input:focus,
.input:hover {
    box-shadow: inset 0 0 0 2px #fc0a7e
}

.input::placeholder {
    color: #555;
}

.arrow {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.quote-slider {
    background-color: rgba(0, 0, 0, 0);
    width: 90vw;
    height: 60vh;
    margin-top: 10vh;
}

.slider-arrow {
    color: #d6d6d6;
}

.quote-wrap {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.quote-attribution {
    justify-content: center;
    align-items: center;
    display: flex;
}

.quote-dash {
    background-color: #d3d3d3;
    flex: none;
    width: 30px;
    height: 1px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.quote-icon {
    margin-bottom: 45px;
}

.slide-nav {
    font-size: 7px;
}

.number {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
}

.nav-logo-wrap {
    flex: none;
}

@media screen and (max-width:991px) {
    h2 {
        font-size: 34px;
        line-height: 44px
    }

    h3 {
        font-size: 20px;
        line-height: 32px
    }

    .section.center {
        flex-direction: column;
        height: auto;
        padding-top: 15vh
    }

    .g14 {
        padding-left: 0;
        padding-right: 0
    }

    .nav,
    .nav-inner {
        width: 100vw
    }

    .nav-link {
        padding-top: 20px
    }

    .nav-link:hover {
        box-shadow: none
    }

    .nav-menu {
        position: absolute
    }

    .g14-image {
        width: 70%;
        height: auto;
        margin-bottom: 7vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0
    }

    .g14-content {
        padding-left: 5vw;
        padding-right: 5vw
    }

    .feature-wrap {
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding-left: 0;
        padding-right: 0
    }

    .feature-wrap.logos {
        margin-top: 5vh;
        margin-bottom: 5vh
    }

    .g14-subhead {
        font-size: 24px;
        line-height: 31px
    }

    .bottom-image-wrap {
        background-image: none;
        height: auto
    }

    .feature-icon {
        flex: none;

    }

    .quote-slider {
        width: 100vw;
        height: auto;
        min-height: 500px;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .quote-wrap {
        width: 70vw
    }

    .menu-icon {
        color: #fff;
        font-size: 40px
    }

    .nav-menu-2 {
        background-color: var(--black-color);
        min-width: 240px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px
    }

    .brand {
        padding-left: 18px
    }

    .heading-3 {
        font-size: 6vw;
    }
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .feature-content.icons {
        text-align: justify;
        align-items: flex-start;
        width: auto;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .feature-content.icons.numbers {
        flex: none;
        align-items: center;
        width: 50%;
    }

    .btn.form-btn {
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
    }

    .wrap {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: none;
        padding-left: 15vw;
        padding-right: 15vw;
        display: flex;
    }

    .g14-image {
        margin-bottom: 10vw
    }

    .g14-content {
        margin-bottom: 5vh;
    }

    .feature-wrap {
        flex-direction: row;
    }

    .feature-wrap.icons {
        flex-flow: wrap;
        display: block;
    }

    .feature-wrap.icons.numbers {
        display: flex;
    }

    .footer-link {
        margin-bottom: 10px;
        display: inline-block;
    }

    .form-2 {
        flex-direction: column;
    }

    .input {
        text-align: center;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0;
        padding-left: 22px;
        padding-right: 22px;
    }

    .quote-attribution {
        flex-direction: row;
        align-items: center;
    }

    .menu-icon {
        font-size: 30px;
    }

    .form-block {
        width: 100%;
    }
}

@media screen and (max-width:479px) {
    h1 {
        font-size: 60px;
        line-height: 70px;
    }

    h3 {
        font-size: 14px;
    }

    .section.center {
        padding-bottom: 10vh;
    }

    .g14 {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-inner {
        width: 100vw;
    }

    .feature-content {
        width: auto;
    }

    .feature-content.icons.numbers {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn.contact {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .wrap {
        padding-left: 5vw;
        padding-right: 5vw
    }

    .image-2 {
        width: 100%;
    }

    .btn-wrap {
        flex-direction: column;
        width: 90vw;
    }

    .g14-image {
        width: 80%;
    }

    .feature-wrap,
    .feature-wrap.reverse {
        flex-direction: column;
    }

    .feature-image {
        width: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .feature-icon {
        margin-bottom: 20px;
    }

    .form-2 {
        flex-direction: column;
        width: 90vw;
    }

    .carrousel-2 {
        width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0deg, 0deg);
        opacity: 1;
        transform-style: preserve-3d;
    }

    .slider-arrow {
        font-size: 24px;
    }

    .left-arrow,
    .right-arrow {
        width: 15vw;
    }

    .number {
        font-size: 40px;
    }

    .heading-3 {
        font-size: 32px;
        line-height: 56px;
    }
}